* {
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", sans-serif; */
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.main {
    background-image: url("assets/img/bg.jpg");
    background-position: center center;
    background-size: max(1560px, 100vw);
    background-repeat: no-repeat;
    height: 79vh;
    position: relative;
}

.main .box {
    height: 79vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

body {
    background-color: black;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 8px;
    background-color: rgb(53, 50, 50);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 6px 8px;
    font-weight: 500;
    background-color: hsla(0, 0%, 100%, 0.101);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn1 {
    padding: 3px 8px;
    font-weight: 500;
    background-color: hsla(0, 0%, 100%, 0.101);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.476);
    padding: 6px 25px;
}

.btn-red {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 12px 27px;
    border-radius: 6px;
    border-color: red;
}

.btn-red-sm {
    background-color: red;
    color: white;
    font-size: 14px;
    border-color: red;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
}

.main input {
    font-size: 16px;
    font-weight: 400;
    padding: 19px 150px 15px 11px;
    border-radius: 6px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid white;
    color: white;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 480px;
}

.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first > div :first-child{
    font-size: 48px;
    font-weight: 900;
}

.first > div :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}

.third video{
    top: 71px;
    width: 342px;
    right: 110px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.faqbox:hover{
    background-color: rgb(88, 86, 86);
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 31px;
    max-width: 70vw;
    justify-content: space-between;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    margin: 10px auto;
    font-weight: 400;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

@media screen and (max-width: 1355px) {
    nav{
        max-width: 90vw;
    }

    .first{
        flex-wrap: wrap;
    }

    .secImg img{
        width: 326px;
    }

    .secImg video{
        width: 280px;
        right: 1px;
        top: 76px;
    }

    .hero> :nth-child(1) {
        font-weight: 700;
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-weight: 400;
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-weight: 400;
        font-size: 18px;
    }

    .main input{
        padding: 19px 30px 15px 11px
    }

    .btn-red{
        font-size: 12px;
        padding: 18px 27px;
    }

    .faq h2{
        font-size: 32px;
        font-weight: 700;
        padding: 2px;
    }

    footer{
        max-width: 90vw;
    }

    .footer-item{
        align-items: center;
    }
}

.footer a{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1355px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 34px;
    }
}